<?xml version="1.0" encoding="utf-8"?>
<JDF xmlns="http://www.CIP4.org/JDFSchema_1_1"
  xmlns:xsi="http://www3.org/2001/XMLSchema-instance"
  xmlns:FUJI="http://ns.fujifilm.com/xmf" Version="1.4" Type="Imposition" ID="Root" JobID="${jobId}" DescriptiveName="${jobName}"
  FUJI:Profile="${fujiProfile}" Status="Waiting">
  <ResourcePool>
    <NodeInfo ID="NodeInfo" Class="Parameter" Status="Available" JobPriority="${jobPriority}" />
    <RunList ID="RunList_Input_Document" Class="Parameter" Status="Available" PartIDKeys="Run">
      <RunList Run="0" Pages="0~${pageCount}">
        <LayoutElement>
          <FileSpec URL="${relativePDFFilePath}" MimeType="application/pdf" />
        </LayoutElement>
        <#if "${isOverlay}" == "1" >
	        <#list overlays as overlay>
		        <FUJI:Overlay LogicalPage="${overlay.overlayPage}">
		          <FileSpec MimeType="application/pdf" URL="${overlay.relativeOverlayPath}"/>
		        </FUJI:Overlay>
        	</#list>
        </#if>
      </RunList>
    </RunList>
    <#if "${isMarkOn}" == "1" >
	    <RunList ID="RunList_Input_Marks" Class="Parameter" Status="Available" PartIDKeys="Run">
	      <RunList Run="1" Pages="0 1">
	        <LayoutElement>
	          <FileSpec MimeType="application/pdf" URL="${relativeMarkPath}"/>
	        </LayoutElement>
	      </RunList>
	    </RunList>
    </#if>
    <Layout ID="Layout" Class="Parameter" PartIDKeys="SignatureName SheetName Side" Status="Available">
      <Layout SignatureName="Sig 1">
        <#list sheets as sheet>
	        <Layout SheetName="Sheet${sheet.sheetNb}">
	          <Layout Side="Front" SurfaceContentsBox="${sheet.frontSurfaceBox}">
	            <ContentObject CTM="1 0 0 1 ${sheet.frontContentObjectMatrix}" ClipBox="${sheet.frontContentObjectRectangle}" Ord="${sheet.frontContentObjectOrd}" />
	            <#if "${isMarkOn}" == "1" >
		            <#list marks as mark>
		            	<MarkObject CTM="1 0 0 1 ${mark.frontMarkObjectMatrix}" ClipBox="${mark.frontMarkObjectRectangle}" FUJI:ApplyCharacterization="true" FUJI:ColorConversion="false" Ord="${mark.frontMarkObjectOrd}" />
		          	</#list>
	          	</#if>
	          </Layout>
	          <Layout Side="Back" SurfaceContentsBox="${sheet.backSurfaceBox}">
	            <ContentObject CTM="1 0 0 1 ${sheet.backContentObjectMatrix}" ClipBox="${sheet.backContentObjectRectangle}" Ord="${sheet.backContentObjectOrd}" />
	           	<#if "${isMarkOn}" == "1" >
		           	<#list marks as mark>
		            	<MarkObject CTM="1 0 0 1 ${mark.backMarkObjectMatrix}" ClipBox="${mark.backMarkObjectRectangle}" FUJI:ApplyCharacterization="true" FUJI:ColorConversion="false" Ord="${mark.backMarkObjectOrd}" />
		          	</#list>
	          	</#if>
	          </Layout>
	        </Layout>
        </#list>
      </Layout>
      <Media Dimension="${mediaDimension}" MediaType="paper"/>
    </Layout>
  </ResourcePool>
  <ResourceLinkPool>
    <NodeInfoLink rRef="NodeInfo" Usage="Input" />
    <RunListLink rRef="RunList_Input_Document" Usage="Input" ProcessUsage="Document" />
    <RunListLink rRef="RunList_Input_Marks" Usage="Input" ProcessUsage="Marks" />
    <LayoutLink rRef="Layout" Usage="Input" />
  </ResourceLinkPool>
</JDF>
