<form name="orderLineForm" ng-cloak>
		<div class="modal-header card-header ch-alt" ng-cloak>
			<h3 class="modal-title"> {{Title_Add_OrderLine  | translate }} </h3>
		</div>
		<div class="modal-body card-body card-padding col-md-12" ng-cloak>
			<uib-alert type="danger" close="errorMsg = false;" ng-show="errorMsg">{{errors.errors}}</uib-alert>
			<br>
			<div class="row">
				<div class="col-md-4">
					<div class="fg-line">
						<label class="form-label"> {{ 'editPartModalContent.PART' | translate }}</label>
						 <div class="controls">
								<label><a href="" uib-tooltip="{{ 'editPartModalContent.PART'| translate }} {{editedOrderLine.part.partNum}}" ng-click="openEditPartModal(editedOrderLine.part.partNum)">{{editedOrderLine.part.partNum}}</a></label>
		
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fg-line">
						<label class="form-label"> {{ 'partsList.TITLE' | translate }}</label>
						<input type="text" ng-model="editedOrderLine.part.title" ng-disabled="true" id="title" name="title"
						 class="form-control" style="width: 99%" disabled>
					</div>
				</div>
				<div class="col-md-4">
					<div class="fg-line">
						<label class="form-label"> {{ 'partsList.ISBN' | translate }}</label>
						<input type="text" ng-model="editedOrderLine.part.isbn" ng-disabled="true" id="isbn" name="isbn"
						 class="form-control" style="width: 99%" disabled>
					</div>
				</div>
			</div>
			<br>
		
			<div class="row">
				<div style="display:flex" class="row">
						<div class="form-group required col-md-6" style="width: 100%;">
								<div class="fg-line">
									<label class="form-label">{{ 'addOrderModalContent.QUANTITY'| translate }}<small ng-show="orderLineForm.quantity.$touched && orderLineForm.quantity.$error.required" class="text-error">{{ 'addOrderModalContent.ERROR7'| translate }}</small><small ng-show="orderLineForm.quantity.$error.max" class="text-error"> {{ 'addOrderModalContent.ERROR8'| translate }}</small>
									</label>
									<input type="number" ng-change="refreshQtys()" id="quantity" name="quantity" ng-model="editedOrderLine.quantity" ng-required="true" class="form-control" min="1" max="999999999">
								</div>
							</div>
						<div class="form-group required col-md-6" style="width: 100%;">
							<div class="">
								<label class="form-label">{{ 'addOrderModalContent.MINQTY'| translate }}
									<small ng-show="orderLineForm.quantityMin.$touched && orderLineForm.quantityMin.$error.required" class="text-error">{{ 'addOrderModalContent.ERROR9'| translate }}</small>
									<small ng-show="orderLineForm.quantityMin.$touched && orderLineForm.quantityMin.$invalid" class="text-error">{{ 'addOrderModalContent.ERROR10'| translate }}</small>
								</label>
								<input type="number" id="quantityMin" name="quantityMin" ng-required="true" ng-model="editedOrderLine.quantityMin" class="form-control" min="1" max="{{editedOrderLine.quantity}}">
							</div>
						</div>
						<div class="form-group required col-md-6" style="width: 100%;">
							<div class="">
								<label class="form-label">{{ 'addOrderModalContent.MAXQTY'| translate }}
									<small ng-show="orderLineForm.quantityMax.$touched && orderLineForm.quantityMax.$error.required" class="text-error">{{ 'addOrderModalContent.ERROR11'| translate }}</small>
									<small ng-show="orderLineForm.quantityMax.$touched && orderLineForm.quantityMax.$invalid" class="text-error">{{ 'addOrderModalContent.ERROR12'| translate }}</small>
								</label>
								<input type="number" id="quantityMax" name="quantityMax" ng-required="true" ng-model="editedOrderLine.quantityMax" class="form-control" min="{{editedOrderLine.quantityMin}}" max="999999999">
							</div>
						</div>
					</div>
			</div>		
			<br>
		
		</div>
		<div class="modal-footer">
				<button type="button" ng-disabled="orderLineForm.quantity.$invalid" ng-click="addOrderLine()" class="btn bgm-teal waves-effect" 
				> {{ 'addOrderModalContent.Add_OrderLine' | translate }} </button>
			<button type="button" class="btn bgm-bluegray waves-effect" ng-click="closeModal()" > {{ 'OVERVIEWORDER.CLOSE' | translate }}</button>
		</div>
		</form>