<div class="card">
    <div class="card-header ch-alt m-b-20">
        <h2 translate-cloak="any">{{ 'lookups.TITLE' | translate }}<small translate-cloak>  {{ 'lookups.DESCRIPTION' | translate }} </small></h2>
    </div>

    <div class="card-body">
    	<div class="col-md-12">
    		<div class="col-md-4">
		        <div class="listview">
		            <a class="lv-item" href="#!/lookups/BindingType"><div class="media"><div class="media-body"><div class="lv-title" translate-cloak >{{ 'lookups.BINDING_TYPES' | translate }} </div></div></div></a>
		            <a class="lv-item" href="#!/lookups/Critiria"><div class="media"><div class="media-body"><div class="lv-title" translate-cloak >{{ 'lookups.PART_CRITERIA' | translate }} </div></div></div></a>
		            <a class="lv-item" href="#!/lookups/JobStatus"><div class="media"><div class="media-body"><div class="lv-title" translate-cloak>{{ 'lookups.JOB_STATUSES' | translate }} </div></div></div></a>
		            <a class="lv-item" href="#!/lookups/JobType"><div class="media"><div class="media-body"><div class="lv-title" translate-cloak>{{ 'lookups.JOB_TYPES' | translate }} </div></div></div></a>
		            <a class="lv-item" href="#!/lookups/Lamination"><div class="media"><div class="media-body"><div class="lv-title" translate-cloak> {{ 'lookups.LAMINATIONS' | translate }} </div></div></div></a>
		            <a class="lv-item" href="#!/lookups/PNLTemplate"><div class="media"><div class="media-body"><div class="lv-title" translate-cloak> {{ 'lookups.PNL_TEMPLATES' | translate }} </div></div></div></a>
		            <a class="lv-item" href="#!/lookups/Client"><div class="media"><div class="media-body"><div class="lv-title" translate-cloak> {{ 'lookups.CLIENTS' | translate }} </div></div></div></a>
		            <div class="clearfix"></div>
		        </div>
		    </div>
		    <div class="col-md-4">
		        <div class="listview">
		        	<a class="lv-item" href="#!/lookups/LogCause"><div class="media"><div class="media-body"><div class="lv-title" translate-cloak>{{ 'lookups.LOG_CAUSE' | translate }} </div></div></div></a>
		            <a class="lv-item" href="#!/lookups/LogResult"><div class="media"><div class="media-body"><div class="lv-title" translate-cloak> {{ 'lookups.LOG_RESULTS' | translate }} </div></div></div></a>
		            <a class="lv-item" href="#!/lookups/MachineStatus"><div class="media"><div class="media-body"><div class="lv-title" translate-cloak>{{ 'lookups.MACHINE_STATUSES' | translate }} </div></div></div></a>
		            <a class="lv-item" href="#!/lookups/MachineType"><div class="media"><div class="media-body"><div class="lv-title" translate-cloak>{{ 'lookups.MACHINE_TYPES' | translate }}</div></div></div></a>
		            <a class="lv-item" href="#!/lookups/OrderStatus"><div class="media"><div class="media-body"><div class="lv-title" translate-cloak>{{ 'lookups.ORDER_STATUSES' | translate }}</div></div></div></a>
		            <a class="lv-item" href="#!/lookups/PartCategory"><div class="media"><div class="media-body"><div class="lv-title" translate-cloak>{{ 'lookups.PART_CATEGORIES' | translate }}</div></div></div></a>
		            <div class="clearfix"></div>
		        </div>
		    </div>
		    <div class="col-md-4">
		        <div class="listview">
		        	<a class="lv-item" href="#!/lookups/PaperType"><div class="media"><div class="media-body"><div class="lv-title" translate-cloak>{{ 'lookups.PAPER_TYPE' | translate }}</div></div></div></a>
		            <a class="lv-item" href="#!/lookups/PaperTypeMedia"><div class="media"><div class="media-body"><div class="lv-title" translate-cloak> {{ 'lookups.PAPER_TYPE_MEDIAS' | translate }}</div></div></div></a>
		            <a class="lv-item" href="#!/lookups/Priority"><div class="media"><div class="media-body"><div class="lv-title" translate-cloak> {{ 'lookups.PRIORITIES' | translate }}</div></div></div></a>
		            <a class="lv-item" href="#!/lookups/RollStatus"><div class="media"><div class="media-body"><div class="lv-title" translate-cloak>{{ 'lookups.ROLL_STATUSES' | translate }}</div></div></div></a>
		            <a class="lv-item" href="#!/lookups/RollType"><div class="media"><div class="media-body"><div class="lv-title" translate-cloak>{{ 'lookups.ROLL_TYPES' | translate }}</div></div></div></a>
		            <a class="lv-item" href="#!/lookups/StationCategory"><div class="media"><div class="media-body"><div class="lv-title" translate-cloak>{{ 'lookups.STATION_CATEGORIES' | translate }}</div></div></div></a>
		            <div class="clearfix"></div>
		        </div>
		    </div>
	     </div>
    </div>
</div>
<!-- <div class="row grid simple ">
   <div class="grid-body " style="display: block;">
		<br/><br/>
		<h4><span class="semi-bold">Lookups</span></h4>
		<p>Below is the list of lookup items available in the system. Click the item you would like to manage.</p>
		<ul>
			<li><a href="#!/lookups/BindingType">Binding Types</a></li>
			<li><a href="#!/lookups/Critiria">Part Criteria</a></li>
			<li><a href="#!/lookups/JobStatus">Job Statuses</a></li>
			<li><a href="#!/lookups/JobType">Job Types</a></li>
			<li><a href="#!/lookups/Lamination">Laminations</a></li>
			<li><a href="#!/lookups/LogCause">Log Causes</a></li>
			<li><a href="#!/lookups/LogResult">Log Results</a></li>
			<li><a href="#!/lookups/MachineStatus">Machine Statuses</a></li>
			<li><a href="#!/lookups/OrderStatus">Order Statuses</a></li>
			<li><a href="#!/lookups/PartCategory">Part Categories</a></li>
			<li><a href="#!/lookups/PaperType">Paper Types</a></li>
			<li><a href="#!/lookups/Priority">Priorities</a></li>
			<li><a href="#!/lookups/RollStatus">Roll Statuses</a></li>
			<li><a href="#!/lookups/RollType">Roll Types</a></li>
			<li><a href="#!/lookups/StationCategory">Station Categories</a></li>
		</ul>
		<br/><br/>
	</div>
</div> -->
