<div class="modal-header card-header ch-alt" ng-cloak>
	<br/>
</div>
<div class="card-body card-padding col-md-12" ng-cloak>
	<div class="col-md-12">

		     <table id="Order_Table_0" datatable="" dt-options="slips.dtOptions" dt-columns="slips.dtColumns" dt-instance="slips.dtInstance" class="table table-bordered table-striped table-vmiddle ng-scope ng-table table-order-list" width="100%" >
                <tfoot>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>            
            
            
            
    </div>
</div>
		