<div class="card">
	
	<div class="card-body card-padding" translate-cloak>
	
	   <table datatable="" dt-options="slips.dtOptions" dt-columns="slips.dtColumns" dt-instance="slips.dtInstance" class="table table-bordered table-striped table-vmiddle ng-scope ng-table col-lg-12" width="100%" translate-cloak>
			<tfoot>
        		<tr>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th> </th>
						<th></th>
						<th> </th>
						<th></th>
						<th></th>
        		</tr>
        	</tfoot>
        </table>
        

	</div>
</div>