<form name="pfStationOptionsForm" id="pfStationOptionsForm" ng-cloak>
<div class="modal-header card-header ch-alt" ng-cloak>
    <h3 class="modal-title"> {{ 'pfStationOptionsModalContent.PRODUCTIONTITLE' | translate }}</h3><small> {{ 'pfStationOptionsModalContent.description' | translate }}</small>
</div>

<div class="modal-body card-body card-padding" onmouseover="$(window).trigger('resize');" ng-cloak>
   <uib-alert type="danger" close="errorMsg = false;" ng-show="errorMsg">{{errors.errors}}</uib-alert>
   <uib-alert type="success" close="successMsg = false;" ng-show="successMsg">{{alertMsg}}</uib-alert>
    	<div class="form-group">
            <div class="controls">
             	<div class="row db-choice"><h6 >{{ 'pfStationOptionsModalContent.MACHINE_TYPE' | translate }}</h6>
                    <div class="radio-inline col-md-12">    
                        <div class="md-radio" ng-repeat="option in pfTypes">
                            <input id="pfOption{{option.id}}" name="pfOption" type="radio" ng-model="selectedPfStationOption" ng-value="option.id">
                            <label class="input-helper" for="pfOption{{option.id}}">{{option.name}}</label>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		<div class="form-group" ng-if="includeStanly != 'false'">
             <div class="controls">
             	<div class="row db-choice"><h6 >{{ 'pfStationOptionsModalContent.MODE' | translate }}</h6>
                 <div class="radio radio-inline m-r-20 col-md-12" >
					<div class="md-radio" ><input id="modeOption1" name="modeOption" type="radio" ng-model="selectedModeOption" value="STANLY" >
                    	 <label class="input-helper" for="modeOption1"> {{ 'pfStationOptionsModalContent.STANLY' | translate }}</label></div>
                    <div class="md-radio" ><input id="modeOption2" name="modeOption" type="radio" ng-model="selectedModeOption" value="STANLY_ONLY" >
                    	 <label class="input-helper" for="modeOption2"> {{ 'pfStationOptionsModalContent.STANLY_ONLY' | translate }}</label></div>
                    <div class="md-radio" ><input id="modeOption3" name="modeOption" type="radio" ng-model="selectedModeOption" value="PALETT_ONLY" >
                    	 <label class="input-helper" for="modeOption3">{{ 'pfStationOptionsModalContent.PALETT_ONLY' | translate }}</label></div>
                  </div>
                  </div>
              </div>
		</div>
		<div class="modal-footer">
			<button type="button" id="cancelBtn" name="cancelBtn" class="btn bgm-bluegray waves-effect" ng-click="closeModal()"> {{ 'pfStationOptionsModalContent.CANCEL' | translate }}</button>
         	<button type="button" id="saveBtn" name="saveBtn" ng-click="produceRollConfirmation(selectedPfStationOption, selectedModeOption)" class="btn bgm-cyan waves-effect"> {{ 'pfStationOptionsModalContent.PRODUCE' | translate }}</button>

		</div>
</form>
