<div class="visible-iphone">
  <div class="hr-text" data-content="Press Machine"></div>
 <ul class="card__list">
        <li class="card__item card__item--blue">
            <div class="card__info">
                <div class="info-player">
                    <p class="info-player__num"><i class="fa fa-list" aria-hidden="true"></i>
                    </p>
                    <p class="info-player__name"><small>{{ 'plowFolderMachineForPhone.ROLL_NUM'| translate }}</small>
                        <br>481</p>
                </div>
            </div>
        </li>
        <li class="card__item card__item--purple">
            <div class="card__info">
                <div class="info-player">
                    <p class="info-player__num"><i class="fa fa-file-o" aria-hidden="true"></i>
                    </p>
                    <p class="info-player__name"><small>{ 'plowFolderMachineForPhone.PAPER_TYPE'| translate }}</small>
                        <br>{{ 'plowFolderMachineForPhone.Utopia'| translate }}</p>
                </div>
            </div>
        </li>
        <li class="card__item card__item--green">
            <div class="card__info">
                <div class="info-player">
                    <p class="info-player__num"><i class="fa fa-arrow-right" aria-hidden="true"></i>

                    </p>
                    <p class="info-player__name"><small>{{ 'plowFolderMachineForPhone.NEXT'| translate }}</small>
                        <br>{{ 'plowFolderMachineForPhone.ROLL'| translate }}</p>
                </div>
            </div>
        </li>
    </ul>
    <div class="col-xs-12">
        <b>{{ 'plowFolderMachineForPhone.TOBS_LIST'| translate }}</b>
        <table class="table-back" width=100%>
            <thead>
                <tr>
                    <th>{{ 'plowFolderMachineForPhone.FILE_NAME'| translate }}</th>
                    <th> {{ 'plowFolderMachineForPhone.QTY'| translate }}</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>481_1</td>
                    <td>500</td>

                </tr>
                <tr>
                    <td>481_2</td>
                    <td>800</td>
                </tr>
                <tr>
                    <td>481_3</td>
                    <td>200</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>